@charset "UTF-8";
// ==========================================================================
// slick
// ==========================================================================

@import "../js/slick-1.8.1/slick/_slick.scss";
@import "../js/slick-1.8.1/slick/_slick-theme";

// ==========================================================================
// Foundation
// ==========================================================================

@import "foundation/_base";
@import "foundation/_reset";
@import "foundation/_slick";


// ==========================================================================
// layout
// ==========================================================================

@import "layout/_container";
@import "layout/_frontpage";
@import "layout/_header";
@import "layout/_about";




