@charset "UTF-8";
.u_about_caption{
    width: 20vw;
    height: 35vw;
    text-align: center;
    justify-content: right;
    margin: 8vw 0 5vw 48vw;
    color: #5C6D70;
    @include breakpoint(tablet){
        position: absolute;
        height: 15vw;
        width: 50vw;
        top: 45%;
        right: 25%;

    }

&__title{
    font-size: 15px;

}
&__name{
    font-size: 40px;
    padding: 0.6vw 0 ;
}
&__text{
    line-height: 2.5rem;
}
&__logo{
    width: 12vw;
    height: 5vw;
    margin:  1vw 5vw;
    display: flex;
    @include breakpoint(tablet){
        width: 10vw;
        height: 10vw;
        justify-content: center;
        position: absolute;
        right: 30%;
    }
    
    &__twitter{
        height: 4vw;
        width: 4vw;
        margin-right: 2vw;
        @include breakpoint(tablet){
            width: 10vw;
            height: 10vw;
    
    }
}
    &__git{
        height: 4vw;
        width: 4vw;
        @include breakpoint(tablet){
            width: 10vw;
            height: 10vw;
            
    }
    }

}

}