@charset "UTF-8";
.u_skill_section{
    width: 70vw;
    height: 38vw;
    display: flex;
    margin: 2vw auto;
    &__right{
        margin: 0 3vw;
        width: 30vw;
        height: 39vw;
        padding: 1vw;
        &__list{
            display: flex;
            padding: 1.2vw 0;
            img{
                width: 6vw;
                height: 6vw;
            }
            p{
                font-size: 45px;
                color: $text-glay;
                height: 6vw;
                width: 30vw;
                line-height: 7vw;
                padding-left: 4vw;
            }
        }
    }
        &__left{
            margin: 0 6vw;
            width: 30vw;
            height: 39vw;
            padding: 1vw;
            &__list{
                display: flex;
                padding: 1.2vw 0;
                img{
                    width: 6vw;
                    height: 6vw;
                }
                p{
                    font-size: 45px;
                    color: $text-glay;
                    height: 6vw;
                    width: 30vw;
                    line-height: 7vw;
                    padding-left: 4vw;
                    
            
            
                }
                
    
            }
    

    }

}

