@charset "UTF-8";
.u_skill_section{
    width: 70vw;
    height: 38vw;
    display: flex;
    margin: 2vw auto;
    @include breakpoint(tablet){
        display: block;
        padding-right: 15vw;
        margin-top: 5vw;
    }
    img{
        width: 6vw;
        height: 6vw;
        @include breakpoint(tablet){
            width: 10vw;
            height: 10vw;
            margin-top: 1vw;
}
    }
    p{
        font-size: 45px;
        color: $text-glay;
        height: 6vw;
        width: 30vw;
        line-height: 7vw;
        padding-left: 4vw;
        white-space: nowrap;
        @include breakpoint(tablet){
            font-size: 33px;
            line-height: 2vw;
            margin-top: 6vw;
            
        }
        


    }
    &__right{
        margin: 0 3vw;
        width: 30vw;
        height: 39vw;
        padding: 1vw;
        @include breakpoint(tablet){
            margin: 0 auto;

            
        }

        &__list{
            display: flex;
            padding: 1.2vw 0;
            @include breakpoint(tablet){    
            padding: 3vw;
            height: 15vw;

            }
          
        }
    }
        &__left{
            margin: 0 6vw;
            width: 30vw;
            height: 39vw;
            padding: 1vw;
            @include breakpoint(tablet){
                margin: 20vw 12vw;
                
            }
            &__list{
                display: flex;
                padding: 1.2vw 0;
                @include breakpoint(tablet){    
                    padding: 3vw;
                    height: 15vw;
                }        
                
                
    
            }
    

    }

}

