@charset "UTF-8";
.l-about{
    height: 834px;
    background-color: #FAF1E7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
       
    
    &__title{
        text-align: center;
        width: 17rem;
        font-size: 5rem;
        font-weight: 400;
        margin-top: 5rem;
        color: #5C5C5C;
        border-bottom: #5C5C5C 1px solid;
        margin: 0 auto;
        padding-top: 5rem;

    }

    #l-about__svg-bg{
        position: absolute;
        width: 100%;
        height: 10rem;
        top: 81rem;
        left: 0;
        background-image: url(/img/l-skills-background-img.jpg);
        background-size: 100% auto;
        z-index: 30;
    }   
    
}