@charset "UTF-8";
.l-frontpage{
    z-index: 50;
    position: relative;
    height: 834px;
    @include breakpoint(tablet){
        height: 100%;
    }

    .slider{ 
        width: 100%;
        height: 100%;
        background-color: #242423;

        @include breakpoint(tablet){
            height: 80%;
        }
    

    }
    &__pagetitle{
        font-size: 10rem;
        width: 67rem;
        color: #FEFEFE;
        position: absolute;
        top: 45%;
        left: 50%;
        animation: .4s fadein .5s forwards;
        opacity: 0;
        text-align: center;
        transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    @include breakpoint (tablet) {
        font-size: 7rem;
        top: 50%;
        left: 50%;
        
    }

    
    }
}
@keyframes fadein{
    from{
        bottom: 15px;
    }
    to{
        bottom: 350px;
        opacity: 1;
    }
}
