@charset "UTF-8";
.l-header{
    display: flex;
    padding-top: 2rem;
    width: 30rem;
    height: 5rem;
    z-index: 100;
    position: absolute;
    right:15rem;
    position: fixed;
    @include breakpoint( mobile){
        width: auto;
    }

        
    &__nav {
        display: flex;
        font-size: 2rem;
        @include breakpoint( mobile){
            margin: 0 auto;

        }



        &__list{
            margin: 0 2rem 0 0;
            a{
                color: $text-glay;
                text-decoration: none;
    
            }

    }
 }



    }