@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  .slider {
      width: 100%;
  }

  .slick-slide {
    margin: 0px 2px;
  }

  .slick-slide img {
    width: 100vw;
    height: 834px;
    object-fit: contain;

  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }