@charset "UTF-8";
.p_box{
    height: 48vw;
    width: 80vw;
    border: solid 1px #707070;
    background-color: #ffffff;
    border-radius: 1rem;
    z-index: 50; 

&__title{
    text-align: center;
    display: flex;
    width: 17rem;
    font-size: 5rem;
    font-weight: 400;
    margin-top: 5rem;
    color: #5C5C5C;
    border-bottom: #5C5C5C 1px solid;
    margin: 0 auto;
    padding-top: 5rem;
    justify-content: center;
      &.--direction {
        width: 22rem;
        margin-bottom: 66vw;
        justify-content: center;
      }
      &.--service {
        width: 22rem;
        height:7.2vw;
        margin-top: 5rem;
        color:  #FEFEFE;
        border-bottom: #FEFEFE 1px solid;
        justify-content: center;

      }

      &.--contact {
        margin: 0 auto;
        margin-top: 5rem;
        padding-top: 5rem;
        justify-content: center;
        width: 22rem;
        color:  #FEFEFE;
        border-bottom: #FEFEFE 1px solid;
      }
      


}
}